@import '_ns';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .input {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 20px;
        }
        &__task {
            font-size: 18px;
            color: gray;
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 5px;
            transition: border 0.3s;
            &:hover {
                border: 2px solid rgb(177, 69, 69);
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
        }
        &__descr {
            font-size: 18px;
            color: gray;
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 5px;
            transition: border 0.3s;
            &:hover {
                border: 2px solid rgb(190, 76, 76);
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
        }
        &__send {
            padding: 11px;
            background-color: rgb(190, 71, 71);
            border-radius: 10px;
            color: white;
            transition: background-color 0.3s, color 0.3s;
            &:hover {
                background-color: rgba(209, 26, 26, 0.644);
                color: #000;
            }
        }
    }
}
.task {
    padding-left: 100px;
    padding-right: 100px;
    &__cont {
        display: grid;
        grid-template-columns: repeat(1, 8fr);
        grid-auto-rows: auto;
        grid-gap: 25px;
    }
}
.active {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(84, 207, 115);
    border-radius: 20px;
    transition: opacity 0.5s, background-color 0.3s;
    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        max-width: 300px;
        overflow-wrap: break-word;
    }
    &__complete {
        margin-left: 0 auto;
    }
    &__remove {
        padding: 5px;
        background-color: rgb(190, 71, 71);
        border-radius: 10px;
        color: white;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
            background-color: rgba(209, 26, 26, 0.644);
            color: #000;
        }
    }
    &.checked {
        background-color: rgb(59, 146, 81);
        opacity: 0.6;
    }
}